<!-- <div class="body"> -->
    <!-- Topic Cards -->
    
    <div id="cards_landscape_wrap-2">
        <div class="container main">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded main-card">
                <div class="card-body justify-contents-center center-block">
                    <img src="./../../assets/images/logo/logo.png" class="logo center-block">
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card card-flyer">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6  flex-fill">
                        <div class="card image-box card-flyer">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->

    </div>