<div class="container-fluid">
  <div class="row">

    <div class="col-lg-12">
      <div class="card table-card main-card shadow p-3 mb-5 bg-body rounded">
        <div class="row justify-content-center">          
          <button type="button" class="btn btn-success btn-sm add-game-button" data-bs-toggle="modal" data-bs-target="#newGameModal" 
          (click)="showNewGnomeCrossingForm()">New Event</button>
        </div>
        <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
          <thead>
            <tr>
              <th>Start</th>
              <th>Time</th>
              <th>Description</th>
              <th>Active</th>
              <th></th>
            </tr>
          </thead>
          <tbody style="text-align: center; vertical-align: middle;">
            <tr *ngFor="let game of data">
              <td>{{game.startDate}}</td>
              <td>{{game.startTimes[0].startTime}}</td>
              <td>{{game.description}}</td>
              <td>Active</td>              
              <td class="justify-contents-center">
                <div class="justify-contents-center">
                <button type="button" class="btn btn-primary btn-sm mr-2" data-bs-toggle="modal" data-bs-target="#exampleModal" 
                (click)="showEditUserForm(game)">Edit</button> &nbsp;  
                <button type="button" class="btn btn-danger btn-sm" (click)="removeUser(game)">Delete</button>
              </div>
              </td>             
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="container">
    <div class="modal fade new-game-modal" role="dialog" id="exampleModal" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">            
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form>
              <div class="card justify-content-center input-card">
                <div class="row input-row justify-content-center">
                  <div class="col">
                    <label for="startDate" class="form-label">Date</label>
                    <input type="date" class="form-control" id="startDateInput" aria-describedby="startDateHelp">
                  </div>
                  <div class="col">
                    <label for="startTime" class="form-label">Time</label>
                    <input type="time" class="form-control" id="startTimeInput" aria-describedby="startTimeHelp">
                  </div>
                </div>

                <div class="row input-row">
                  <div class="mb-1">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="descriptionInput"
                      aria-describedby="descriptionDateHelp">                
                  </div>
                </div>                

                <div class="row justify-content-center">
                  <div class="row justify-content-center">
                    <button type="button" class="btn btn-primary btn-sm add-gnome-button">Add Gnome</button>
                  </div>
                  <table class="table item-table table-striped table-bordered table-sm row-border hover"
                    id="datatableexample">
                    <thead style="text-align: center; vertical-align: middle;">
                      <tr>
                        <th>Gnome</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody style="text-align: center; vertical-align: middle;">
                      <tr *ngFor="let item of currentGame.itemLocations">
                        <td>
                          <div><img class="gnome-pic" src="assets/images/{{item.imageUrl}}"></div>
                        </td>
                        <td>{{item.description}}</td>
                        <td>{{item.location}}</td>
                        <td class="justify-contents-center">
                          <button type="button button-sm" class="btn btn-info btn-sm mr-2"
                            (click)="showEditUserForm(currentGame)">Edit</button>&nbsp;
                          <button type="button" class="btn btn-danger btn-sm"
                            (click)="removeUser(currentGame)">Delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="modal fade new-game-modal" role="dialog" id="newGameModal" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <h5 class="modal-title text-danger" id="exampleModalLabel">Edit Game</h5> -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form>
              <div class="card justify-content-center input-card">
                <div class="row input-row justify-content-center">
                  <div class="col">
                    <label for="startDate" class="form-label">Date</label>
                    <input type="date" class="form-control" id="startDateInput" aria-describedby="startDateHelp">
                  </div>
                  <div class="col">
                    <label for="startTime" class="form-label">Time</label>
                    <input type="time" class="form-control" id="startTimeInput" aria-describedby="startTimeHelp">
                  </div>
                </div>

                <div class="row input-row">
                  <div class="mb-1">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description1Input"
                      aria-describedby="descriptionDateHelp">
                 
                  </div>
                </div>

                <div class="card justify-content-center input-card">

                  
                  <div class="row justify-content-center">  
                    <!-- <div class="form-check form-check-inline"> -->
                  <fieldset align="center" class="justify-content-center mx-auto" id="group">
                    <input type="radio" name="gname" id="hulaDoll" value="hulaDoll">
                    <label for="hulaDoll">
                      <img src="assets/images/hulaDoll.png" alt="male" class="img-thumbnail"> 
                    </label>
                    <input type="radio" name="gname"  id="hungryGnomeOrange" value="hungryGnomeOrange"> 
                    <label for="hungryGnomeOrange">
                      <img src="assets/images/hungryGnomeOrange.png" alt="female" class="img-thumbnail">  
                    </label>
                    <input type="radio" name="gname" id="laidbackGnomeGreen" value="laidbackGnomeGreen">
                    <label for="laidbackGnomeGreen">
                      <img src="assets/images/laidbackGnomeGreen.png" alt="male" class="img-thumbnail"> 
                    </label>
                    <input type="radio" name="gname" id="nutCracker" value="nutCracker">
                    <label for="nutCracker">
                      <img src="assets/images/nutCracker.png" alt="female" class="img-thumbnail"> 
                    </label>
                    <input type="radio" name="gname" id="passionateGnomeRed" value="passionateGnomeRed">
                    <label for="passionateGnomeRed">
                      <img src="assets/images/passionateGnomeRed.png" alt="male" class="img-thumbnail"> 
                    </label>
                    <input type="radio" name="gname" id="rebelGnomeBlack" value="rebelGnomeBlack">
                    <label for="rebelGnomeBlack">
                      <img src="assets/images/rebelGnomeBlack.png" alt="female" class="img-thumbnail"> 
                    </label>
                    <input type="radio" name="gname" id="reliableGnomeBlue" value="reliableGnomeBlue">
                    <label for="reliableGnomeBlue">
                      <img src="assets/images/reliableGnomeBlue.png" alt="male" class="img-thumbnail"> 
                    </label>
                    <input type="radio" name="gname" id="sleepyGnomePurple" value="sleepyGnomePurple">
                    <label for="sleepyGnomePurple">
                      <img src="assets/images/sleepyGnomePurple.png" alt="female" class="img-thumbnail"> 
                    </label>
                  </fieldset>
                  </div>
                  </div>
                


                <div class="row justify-content-center">
                  <div class="row justify-content-center">                    
                    <button type="button" class="btn btn-primary btn-sm add-gnome-button" data-bs-toggle="modal" data-bs-target="#newGnomeModal" 
                (click)="addGnome(currentGame)">Add Gnome</button> &nbsp; 
                  </div>
                  <table class="table item-table table-striped table-bordered table-sm row-border hover"
                    id="datatableexample">
                    <thead style="text-align: center; vertical-align: middle;">
                      <tr>
                        <th>Gnome</th>
                        <th>Description</th>
                        <!-- <th>Location</th> -->
                        <th></th>
                      </tr>
                    </thead>
                    <tbody style="text-align: center; vertical-align: middle;">
                      <tr *ngFor="let item of currentGame.itemLocations">
                        <td>
                          <div><img class="gnome-pic" src="assets/images/{{item.imageUrl}}"></div>
                        </td>
                        <td>{{item.description}}</td>
                        <!-- <td>{{item.location}}</td> -->
                        <td class="justify-contents-center">
                          <button type="button button-sm" class="btn btn-info btn-sm mr-2"
                            (click)="showEditUserForm(currentGame)">Edit</button>&nbsp;
                          <button type="button" class="btn btn-danger btn-sm"
                            (click)="removeUser(currentGame)">Delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row justify-content-center">          
                <button type="button" class="btn btn-success btn-sm add-game-button" data-bs-toggle="modal" data-bs-target="#newGameModal" 
                (click)="showNewGnomeCrossingForm()">Save Game</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="modal fade new-game-modal" data-backdrop="static" role="dialog" id="newGnomeModal" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <h5 class="modal-title text-danger" id="exampleModalLabel">Edit Game</h5> -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form>
              <div class="card justify-content-center input-card">

                <div class="card justify-content-center input-card">
                <div class="row justify-content-center">  
                  <!-- <div class="form-check form-check-inline"> -->
                <fieldset align="center" class="justify-content-center mx-auto">
                  <input type="radio" name="hulaDoll" id="hulaDoll">
                  <label for="hulaDoll">
                    <img src="assets/images/hulaDoll.png" alt="male" class="img-thumbnail"> 
                  </label>
                  <input type="radio" name="hungryGnomeOrange"  id="hungryGnomeOrange"> 
                  <label for="hungryGnomeOrange">
                    <img src="assets/images/hungryGnomeOrange.png" alt="female" class="img-thumbnail">  
                  </label>
                  <input type="radio" name="laidbackGnomeGreen" id="laidbackGnomeGreen">
                  <label for="laidbackGnomeGreen">
                    <img src="assets/images/laidbackGnomeGreen.png" alt="male" class="img-thumbnail"> 
                  </label>
                  <input type="radio" name="nutCracker" id="nutCracker">
                  <label for="nutCracker">
                    <img src="assets/images/nutCracker.png" alt="female" class="img-thumbnail"> 
                  </label>
                  <input type="radio" name="passionateGnomeRed" id="passionateGnomeRed">
                  <label for="passionateGnomeRed">
                    <img src="assets/images/passionateGnomeRed.png" alt="male" class="img-thumbnail"> 
                  </label>
                  <input type="radio" name="rebelGnomeBlack" id="rebelGnomeBlack">
                  <label for="rebelGnomeBlack">
                    <img src="assets/images/rebelGnomeBlack.png" alt="female" class="img-thumbnail"> 
                  </label>
                  <input type="radio" name="reliableGnomeBlue" id="reliableGnomeBlue">
                  <label for="reliableGnomeBlue">
                    <img src="assets/images/reliableGnomeBlue.png" alt="male" class="img-thumbnail"> 
                  </label>
                  <input type="radio" name="sleepyGnomePurple" id="sleepyGnomePurple">
                  <label for="sleepyGnomePurple">
                    <img src="assets/images/sleepyGnomePurple.png" alt="female" class="img-thumbnail"> 
                  </label>
                </fieldset>
                </div>
                </div>
              </div>
                <div class="row input-row">
                  <div class="row">
                    <div class="col col-sm">
                      <div class="mb-1">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="descriptionInput"
                          aria-describedby="descriptionDateHelp">
                     
                      </div>
                    </div>
                    <!-- <div class="col">
                      <div class="mb-1">
                        <label for="description" class="form-label">Location</label>
                        <input type="text" class="form-control" id="gnomeLocationInput"
                          aria-describedby="descriptionDateHelp">                          
                      </div>
                    </div> -->
                </div>
              </div>
              <div class="row justify-content-center">          
                <button type="button" class="btn btn-success btn-sm add-game-button" data-bs-toggle="modal" data-bs-target="#newGameModal" 
                (click)="showNewGnomeCrossingForm()">Save Gnome</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>