<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card table-card main-card">
        <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
          <thead>
            <tr>
              <th>Start</th>
              <th>Time</th>
              <th>Description</th>
              <th>Active</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let game of data">
              <td>{{game.startDate}}</td>
              <td>{{game.startTimes[0].startTime}}</td>
              <td>{{game.description}}</td>
              <td>Active</td>
              <td>

                <button type="button" class="btn btn-info btn-sm mr-2" data-bs-toggle="modal"
                  data-bs-target="#exampleModal" (click)="showEditUserForm(game)">Edit</button> &nbsp;

                <button type="button" class="btn btn-danger btn-sm" (click)="removeUser(game)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="container">
    <div class="modal fade new-game-modal" role="dialog" id="exampleModal" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabel">Edit Game</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form>
              <div class="card justify-content-center input-card">
              <div class="row input-row justify-content-center">
                <div class="col">
                  <label for="startDate" class="form-label">Date</label>
                  <input type="date" class="form-control" id="startDateInput" aria-describedby="startDateHelp">
                </div>
                <div class="col">
                  <label for="startTime" class="form-label">Time</label>
                  <input type="time" class="form-control" id="startTimeInput" aria-describedby="startTimeHelp">
                </div>
              </div>

              <div class="row input-row">
                <div class="mb-1">
                  <label for="description" class="form-label">Description</label>
                  <input type="text" class="form-control" id="descriptionInput" aria-describedby="descriptionDateHelp">
                  <!-- <div id="startDateHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
              </div>
            <!-- </div> -->

              <div class="row justify-content-center">
                <h4 class="text-center">Gnomes</h4>
                <table class="table item-table table-striped table-bordered table-sm row-border hover"
                  id="datatableexample">
                  <thead style="text-align: center; vertical-align: middle;">
                    <tr>
                      <th>Gnome</th>
                      <th>Description</th>
                      <th>Location</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody style="text-align: center; vertical-align: middle;">
                    <tr *ngFor="let item of currentGame.itemLocations">
                      <td>
                        <div><img class="gnome-pic" src="assets/images/{{item.imageUrl}}"></div> 
                      </td>
                      <td>{{item.description}}</td>
                      <td>{{item.location}}</td>
                      <td class="justify-contents-center">
                        <button type="button button-sm" class="btn btn-info btn-sm mr-2"
                          (click)="showEditUserForm(currentGame)">Edit</button>&nbsp;
                        <button type="button" class="btn btn-danger btn-sm"
                          (click)="removeUser(currentGame)">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
<!-- 
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <button type="button" class="btn btn-primary">Login</button> -->

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>