.table-card {
    color: black;
    margin: 1em;
    padding: 1em;
    width: 80%;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 4em; /* Added */
}