.table-card {
    color: black;
    margin: 1em;
    padding: 1em;
    width: 80%;
}

.item-table {
    width: 80%; 
    margin-top: 1em; 
    margin-bottom: 1em; 
    

}

.modal:nth-of-type(even) {
    z-index: 1062 !important;
}
.modal-backdrop.show:nth-of-type(even) {
    z-index: 1061 !important;
}
    

.input-row {
    margin: 1em;
}

.input-card {
    width: 85%;
    margin: 0 auto; /* Added */
    float: none; /* Added */
}

.dataTables_wrapper .dataTables_filter {
    margin: 1em;
    
}

.add-gnome-button {
    width: fit-content;
    margin-top: 1em;
}

.add-game-button {
    width: fit-content;
    margin-top: 1em;
    margin-bottom: 1em;
    

}

.min-input {
    width: fit-content;
}



.gnome-pic {
    height: 65px;
}

.item-location-card{  
    color: black;
    
    // padding: 1em;
    width: 80%;   
    // margin-bottom: 0px; /* Added */   
    // margin-top: 0em; /* Added */
    margin: 0;
    padding: 0;    
    
}

.main-card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 4em; /* Added */
}

.new-game-modal {
    width: 100%;
}

.modal-dialog {
    width: 100%;
}

.img-thumbnail {
    width:75px;height:75px;
    border: none;
}

// .fieldset {
//     margin: 0 auto; /* Added */
//     float: none; /* Added */
//     margin-bottom: 10px; /* Added */
//     margin-top: 4em; /* Added */
// }


  




