.home-table {
    margin-top: 1em;
}

.add-gnome-button {
    width: fit-content;
    margin-top: 1em;
}

.gnome-pic {
    height: 65px;
}

.small-gnome-pic {
    height: 30px;
}

.img-thumbnail {
    width:75px;height:75px;
    border: none;
}

.input-card {
    border: 0px;
}
