<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Admin Dashboard</a>
    <div class="d-flex">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#create-event-modal">Add Event</button>
    </div>
  </div>
</nav>


<div class="container">
  <table class="table home-table">
    <thead>
      <tr>
        <th>Start</th>
        <th>Time</th>
        <th>Description</th>
        <th>Active</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of data">
        <td>{{game.startDate}}</td>
        <td>{{game.startTime}}</td>
        <td>{{game.description}}</td>
        <td>{{game.active}}</td>
        <td class="justify-contents-center">
          <button class="btn btn-info btn-sm">Edit</button>
          <button (click)="deleteGameById(game.id)" class="btn btn-danger btn-sm mx-3">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <div class="modal fade new-game-modal" role="dialog" id="create-event-modal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel">Create Event</h5>
          <button type="button" class="btn-close" id="closeBtn" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body justify-content-center">
          <form [formGroup]="formValue">
            
              <div class="card justify-content-center input-card">
              <div class="row input-row justify-content-center">
                <div class="col">
                  <label for="startDate" class="form-label">Date</label>
                  <input type="date" formControlName="startDate" class="form-control" id="startDate"
                    aria-describedby="startDateHelp">
                </div>
                <div class="col">
                  <label for="startTime" class="form-label">Time</label>
                  <input type="time" formControlName="startTime" class="form-control" id="startTime"
                    aria-describedby="startTimeHelp">
                </div>
              </div>

              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" formControlName="description" class="form-control" id="description" name="description"
                  aria-describedby="descriptionDateHelp">

                <div class="d-flex  container ">

                <div class="row">
                  <div class="col">
                    <div class="card justify-content-center input-card">
                      <div class="row justify-content-center">
                        <!-- <div class="form-check form-check-inline"> -->
                        <fieldset align="center" class="justify-content-center mx-auto text-center" id="group">
                          <div class="col my-3">
                            <div class="form-check" id="form-check">
                              <input type="radio" name="gname" id="hulaDoll" value="hulaDoll" checked>
                              <label for="hulaDoll">
                                <img src="assets/images/hulaDoll.png" alt="male" class="img-thumbnail">
                              </label>
                              <input type="radio" name="gname" id="hungryGnomeOrange" value="hungryGnomeOrange">
                              <label for="hungryGnomeOrange">
                                <img src="assets/images/hungryGnomeOrange.png" alt="female" class="img-thumbnail">
                              </label>
                            </div>
                          </div>

                          <div class="col">
                            <div class="form-check">
                              <input type="radio" name="gname" id="laidbackGnomeGreen" value="laidbackGnomeGreen">
                              <label for="laidbackGnomeGreen">
                                <img src="assets/images/laidbackGnomeGreen.png" alt="male" class="img-thumbnail">
                              </label>
                              <input type="radio" name="gname" id="nutCracker" value="nutCracker">
                              <label for="nutCracker">
                                <img src="assets/images/nutCracker.png" alt="female" class="img-thumbnail">
                              </label>
                            </div>
                          </div>

                          <div class="col">
                            <div class="form-check">
                              <input type="radio" name="gname" id="passionateGnomeRed" value="passionateGnomeRed">
                              <label for="passionateGnomeRed">
                                <img src="assets/images/passionateGnomeRed.png" alt="male" class="img-thumbnail">
                              </label>

                              <input type="radio" name="gname" id="rebelGnomeBlack" value="rebelGnomeBlack">
                              <label for="rebelGnomeBlack">
                                <img src="assets/images/rebelGnomeBlack.png" alt="female" class="img-thumbnail">
                              </label>
                            </div>
                          </div>

                          <div class="col">
                            <div class="form-check">
                              <input type="radio" name="gname" id="reliableGnomeBlue" value="reliableGnomeBlue">
                              <label for="reliableGnomeBlue">
                                <img src="assets/images/reliableGnomeBlue.png" alt="male" class="img-thumbnail">
                              </label>
                              <input type="radio" name="gname" id="sleepyGnomePurple" value="sleepyGnomePurple">
                              <label for="sleepyGnomePurple">
                                <img src="assets/images/sleepyGnomePurple.png" alt="female" class="img-thumbnail">
                              </label>

                            </div>

                          </div>
                        </fieldset>
                        <button type="button" class="btn btn-primary btn-sm add-gnome-button mx-4" (click)="addGnome()">Add Gnome</button>
                        &nbsp;
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mx-4">
                  <div class="col  my-3">
                    <div class="card card-sm input-card">
                      <div class="row">
                        <table 
                          class="table item-table table-striped table-bordered table-sm row-border hover"
                          id="gnomeTable">
                          <thead style="text-align: center; vertical-align: middle;">
                            <tr>
                              <th>Gnome</th>
                              <th>Description</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="newGnomes.length > 0" style="text-align: center; vertical-align: middle;">
                            <tr *ngFor="let item of newGnomes; let i = index">
                              <td>
                                <div><img class="small-gnome-pic" src="assets/images/{{item.imageUrl}}.png"></div>
                              </td>
                              <td>{{item.description}}</td>
                              <td class="justify-contents-center">
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteGnome(item.uuid)">Delete</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" (click)="resetGnomes()" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success add-game-button" data-bs-toggle="modal"
            data-bs-target="#newGameModal" (click)="postGame()">Save Event</button>

        </div>
      </div>
    </div>
  </div>
</div>